<div class="d-flex bg-light p-3 ">
    <div class="container">
        <p class="mb-0 fo text-center ">The Weekly Drop: New Arrivals Every Thursday | Free Delivery on Orders Over
            R 1300</p>
    </div>
</div>
<div class="bg-white">
    <div class="container d-flex justify-content-between pt-2">

        <div class="con me d-flex mt-3 p">
            <button type="button" class="d-flex btn h-50 cur" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="p">MENU</span>
            </button>

    
        </div>
    
        <img src="https://i.postimg.cc/XvtF0s6P/H-M-Logo-svg.png" routerLink="/home" class="logo cur mt-4 mb-3" alt="">
    
        <div class="d-flex">
            <div class="mt-4 dblock d-flex">    
                <p class="mx-5 cur p-1" routerLink="/account/signin">ACCOUNT</p>
                <p class="mx bg-black text-white px-3 cur p-1">BAG 0</p>
    
            </div>
        </div>
    </div>
</div>





<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header d-flex justify-content-between">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>

        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" data-bs-dismiss="offcanvas" aria-label="Close"
            fill="currentColor" class="bi bor bg-black text-white p-2 bi-x-lg" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>