<div class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn px-4 text-white bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create Folder
    </button>

    <div class="row">
        <div class="col-4 mb-3" *ngFor="let category of listCategories" routerLink="/myproducts/{{category.name|lowercase}}">
            <div class="h cur px-0  d-flex align-items-end" [ngStyle]="{'background': 'url(' + category.image + ') no-repeat 0 0 / cover'}">
                <div class="bg-dark w-100 text-white text-center p-2">
                    <span>{{category.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="name">
                <div class="d-flex justify-content-center cur mb-3" (click)="fileInput.click()">
                    <div class="w-100 p-3   br dash pt-5 pb-5">
                        <div class="d-flex justify-content-center">
                            <img src="https://i.postimg.cc/FHLf6vBc/Screenshot-2024-05-18-101729-removebg-preview.png"
                                alt="" class=" drop">
                        </div>
                        <h5 class="text-center mt-2">Drag and drop your file here</h5>
                        <p class="text-secondary text-center">or</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn border" (click)="fileInput.click()">
                                Browse file
                            </button>
                            <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)">

                        </div>
                    </div>


                </div>
                <img src="{{imageUrl}}" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="isCreateCategory()">Save changes</button>
            </div>
        </div>
    </div>
</div>