.cur {
    cursor: pointer;
}



.poetsen-one-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 100px;
}

.logo {
    width: 65px;
    height: 75px;
    border-radius: 5px;
}

.br {
    border-radius: 5px;
}

.p {
    font-size: 18px;
}

.col-3, .h {

    height: 300px;
}