.br{
    border-radius: 5px;
}
img{
    width: 45px;
}
.font{
    font-weight: normal;
}
.cur{
    cursor: pointer;
}
.hover:hover{
    background-color: white;

}
.link{
    text-decoration: underline;
}
.h-10{
    height: 280px ;
}
.dro{
    width:90px;
}