@import "tom-select/dist/css/tom-select.default.css";

.h-10{
    height: 150px;
}

.br{
    border-radius: 5px;
}
.bor-0{
    border-radius: 0px;
}

.fo{
    font-size: 14px;
}
.input{
    border-radius: 0px;
}
.box{
    width: 50px;

}
.mx{
    margin-left: 0px;
    margin-right: 0px;
}
.f{
    font-size: 14px;
}
input.largerCheckbox {
    width: 14px;
    height: 14px;
}
.container-size{
    width: 80px;
}
.container-color{
    width: 120px;
}
.container-price{
    width: 150px;
}
.container-qty{
    width: 200px;
}

.o{
    font-size: 12px;
}

label{
    font-size: 18px;
}
.tip{
    font-size: 14px;
}
.dash{
    border: 1px dashed slategray  ;
}
.under{
    text-decoration: underline;
}
.icon{
    color: slategray ;
}
.pos{
    position: relative;
    top: 7px;
    left: 6px;
    width: 0px;
}
.bor{
    border-radius: 100%;
}
.border-none{
    border: none;
}

.bg{
    background-color:#bdc5d1;
}
.cur{
    cursor: pointer;
}
.drop{
    width: 200px;
}
.product-img{
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}
.border-1{
    border-left: 2px gainsboro solid ;
}
.img{
    width: 400px;
    height: 370px;
}

th{
    font-size: 15px !important;
    font-weight: 300;
}

