<div class="w-100 image d-flex align-items-end pt-5"  [ngStyle]="{'background': 'url(' + home.image + ') no-repeat 0 0 / cover'}">
    <h1 class="pacifico-regular text-white">{{home.name}}</h1>
</div>
<div class="grid-container pacifico-regular">
    <div class="item1 pt-0 cur" routerLink="/za/{{item.name|lowercase}}"
        *ngFor="let item of body| slice:0:4; let i = index">
        <div alt="" class="w-100 img  pt-5" [ngStyle]="{'background': 'url(' + item.image + ') no-repeat 0 0 / cover'}">
            <div class="d-flex justify-content-center align-items-center mt-5 pt-2">
                <div class="container">
                    <div class=" d-flex justify-content-center px-3">
                        <h1 class="text-center bold text-white ">{{item.name|uppercase}}</h1>
                    </div>
                    <div class="hr">
                        <div class="con  w-100 d-flex justify-content-center" *ngFor="let category of categoryList">
                            <span class="text-center ni  text-white text-dark  bol p-1"
                                *ngIf="item._id === category.categoryId[0] && category.return == true">{{category.name | uppercase}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="d-flex pb-2">

    <div class="item img-1 w-10" [ngStyle]="{'background': 'url(' + most.image + ') no-repeat 0 0 / cover'}">
    </div>

    <div class="item img-1 w-50 bg-light d-flex align-items-center pacifico-regular">
        <div class=" p-2 px-4">
            <h5>EDITED</h5>
            <h3>{{most.name|uppercase}}</h3>
            <p class="text-dark">Elevate your style with our Classic Winter Collection, a perfect <br> blend of premium
                linen,
                comfort, and contemporary design.</p>
            <p class="text cur">SHOP NOW</p>

        </div>

    </div>
</div>
<div class="GR grid-container pacifico-regular">
    <div class="item1">
        <img src="https://i.postimg.cc/Jh64fDPV/DINING-6-HF4-Nef.jpg" class="w-100 im" alt="">
        <div class="p-3 bg-black d-flex justify-content-center ">
            <span class="bold text-white text-center">DINING</span>
        </div>
    </div>
    <div class="item1">
        <img src="https://i.postimg.cc/vZTKP4g6/BEDDING-1l-GTtnn.jpg" class="w-100 im" alt="">
        <div class="p-3 bg-black d-flex justify-content-center ">
            <span class="bold text-white text-center">BEDDING</span>
        </div>
    </div>
    <div class="item1">
        <img src="https://i.postimg.cc/bJh3jrJg/WORkspace.jpg" class="w-100 im" alt="">
        <div class="p-3 bg-black d-flex justify-content-center ">
            <span class="bold text-white text-center">WORKSPACE</span>
        </div>
    </div>
    <div class="item1">
        <img src="https://i.postimg.cc/htTwdHHX/DECOR-OTNds-Ia.jpg" class="w-100 im" alt="">
        <div class="p-3 bg-black d-flex justify-content-center ">
            <span class="bold text-white text-center">DECOR</span>
        </div>
    </div>
</div>
<h2 class="text-center pt-2 pacifico-regular ">NEW IN</h2>
<div class="grid-container-new pacifico-regular">
    <div class="item1 pt-0">
        <img src="https://i.postimg.cc/5NQsFNgS/newmen.jpg" alt="" class="w-100 new">
        <div class="d-flex justify-content-center">
            <div class="con">
                <label for="" class="pacifico-regular text-start pt-1">Oversized teddy-lined jacket</label>
                <p class="pacifico-regular  text mb-1 text-center">3 Colours</p>
                <div class="d-flex justify-content-center">
                    <label for="" class="pacifico-regular text-start ">{{price.newPrice|currency:"R "}}</label>
                </div>

            </div>


        </div>
    </div>
    <div class="item1 pt-0">
        <img src="https://i.postimg.cc/dVvSPcRR/new-bags.jpg" alt="" class="w-100 mb-2 new">
        <div class="d-flex justify-content-center">
            <div class="con">
                <label for="" class="pacifico-regular text-start pt-1">Oversized teddy-lined jacket</label>
                <p class="pacifico-regular  text mb-1 text-center">3 Colours</p>
                <div class="d-flex justify-content-center">
                    <label for="" class="pacifico-regular text-start me-2 line"> {{price.oldPrice|currency:"R "}}</label>
                    <label for="" class="pacifico-regular text-start ">{{price.newPrice|currency:"R "}}</label>
                </div>

            </div>


        </div>
    </div>
    <div class="item1 pt-0">
        <img src="https://i.postimg.cc/5NQsFNgS/newmen.jpg" alt="" class="w-100 new">
        <div class="d-flex justify-content-center">
            <div class="con">
                <label for="" class="pacifico-regular text-start pt-1">Oversized teddy-lined jacket</label>
                <p class="pacifico-regular  text mb-1 text-center">3 Colours</p>
                <div class="d-flex justify-content-center">
                    <label for="" class="pacifico-regular text-start ">{{price.newPrice|currency:"R "}}</label>
                </div>

            </div>


        </div>
    </div>
    <div class="item1 pt-0">
        <img src="https://i.postimg.cc/4yDb1VPb/new-mend.jpg" alt="" class="w-100 new">
        <div class="d-flex justify-content-center">
            <div class="con">
                <label for="" class="pacifico-regular text-start pt-1">Oversized teddy-lined jacket</label>
                <p class="pacifico-regular  text mb-1 text-center">3 Colours</p>
                <div class="d-flex justify-content-center">
                    <label for="" class="pacifico-regular text-start me-2 line"> {{price.oldPrice|currency:"R "}}</label>
                    <label for="" class="pacifico-regular text-start ">{{price.newPrice|currency:"R "}}</label>
                </div>

            </div>


        </div>
    </div>
    <div class="item1 pt-0">
        <img src="https://i.postimg.cc/MTZsc73n/new-las.jpg" alt="" class="w-100 new">
        <div class="d-flex justify-content-center">
            <div class="con">
                <label for="" class="pacifico-regular text-start pt-1">Oversized teddy-lined jacket</label>
                <p class="pacifico-regular  text mb-1 text-center">3 Colours</p>
                <div class="d-flex justify-content-center">
                    <label for="" class="pacifico-regular text-start me-2 line"> {{price.oldPrice|currency:"R "}}</label>
                    <label for="" class="pacifico-regular text-start ">{{price.newPrice|currency:"R "}}</label>
                </div>

            </div>


        </div>
    </div>
</div>
 


