.img-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 800px;
}

.bold {
    font-weight: bold;

}

.image {
    height: 700px;
}

.im {
    height: 500px;
}

.fon {

    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.btn {
    border-radius: 0px;
}

.w-10 {
    width: 100px;
}

.cur {
    cursor: pointer;
}

.fo {
    font-size: 17px;
}

.mo {
    height: 230px;
}

.bg {
    background-color: gainsboro;
}

.img-2 {
    height: 500px;
}

.mix {
    mix-blend-mode: multiply;
}

.h3 {
    width: 650px;
    font-family: "Tangerine" cursive;
    font-weight: 700;


}

.te {
    font-family: "Tangerine" cursive;
}

.wi {
    width: 400px;
}

.new-i {
    width: 300px;
    height: 400px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.image-section {
    position: relative;
    flex: 1;
    margin: 10px;
}

.text {
    text-decoration: underline;
}

.image-section img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    /* font-size: 24px; */
    font-weight: bold;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 15px 0px;


}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px 0px;


}

.tee {
    width: 600px;
}

.grid-container-new {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;


}

.text-start {
    font-size: 14px;
    font-weight: 400;
}

.img {
    height: 620px !important;
}

.ni {
    font-size: 16px;

}

.ni:hover {
    text-decoration: underline;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular {

    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.p {
    font-size: 16px;
    width: 420px;
}



.bold {
    font-weight: bold;
}

.line {
    /* position: static; */
    text-decoration: line-through;
}

.new {
    height: 420px;
}