<div class="conainer pb-2">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let image of images; let i = index" [class.active]="i === 0" class="carousel-item">
                <div class="w-100 img d-flex align-items-end mb-2"
                    [ngStyle]="{'background': 'url(' + image  + ') no-repeat 0 0 / cover'}">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="px-5 p-2">
        <p class=" roboto-bold mb-2">SUMMER ESSENTIALS 24</p>
        <div class="d-flex">
            <p class="text roboto-regular me-3 ">SHOP MEN'S</p>
            <p class="text roboto-regular">SHOP WOMEN'S</p>
        </div>
    </div>
    <div class="grid-container pacifico-regular">
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/fLPKCRYs/hmgoepprod.jpg) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1">ELEGANT FASHION</p>
                        <p class="text roboto-regular">SHOP ELEGANT FASHION</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/RCRfvFWZ/hmgoepprod.webp) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1">KIDSWEAR</p>
                        <div class="d-flex">
                            <p class="text roboto-regular me-3">SHOP BOYS</p>
                            <p class="text roboto-regular">SHOP GIRLS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/HnVZXskG/395428262-738578591637520-6011826443595266178-n.jpg) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1"> SUNGLASSES</p>
                        <p class="text roboto-regular">SHOP WOMEN</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/Gpfqrnjq/dress.jpg) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1">FLOWER GIRLS</p>
                        <p class="text roboto-regular">SHOP DRESSES</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/N08nR7WR/HOME-d.jpg) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1">DECOR</p>
                        <p class="text roboto-regular">SHOP DECOR</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1 pt-0 cur">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/Ghp8PTRT/shirt.jpg) no-repeat 0 0 / cover'}">
                <div class="d-flex align-items-end h-100 ">
                    <div class="CON px-4">
                        <p class="roboto-bold mb-1">FLOWER GIRLS</p>
                        <p class="text roboto-regular">SHOP DRESSES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 image d-flex p-2 mb-2 text-white"
        [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
    </div>
    <div class="CON px-4">
        <p class="roboto-bold mb-1">H&M HOME ESSENTIALS</p>
        <p class="text roboto-regular">SHOP HOME ESSENTIALS</p>
    </div>
    <div class="grid-container-1">
        <div class="item">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/vHj1RC0H/266368799-1903830319786599-3001249338523678920-n.jpg) no-repeat 0 0 / cover'}">
            </div>
            <div class="CON p-2 px-4">
                <p class="roboto-bold mb-1">CHARACTER TEES </p>
                <p class="text roboto-regular">SHOP BABYS'</p>
            </div>
        </div>
        <div class="item">
            <div alt="" class="w-100 img  p"
                [ngStyle]="{'background': 'url(https://i.postimg.cc/B6Wt8FrW/335436589-1525615111294543-225423551462420608-n.jpg) no-repeat 0 0 / cover'}">
            </div>
            <div class="CON p-2 px-4">
                <p class="roboto-bold mb-1">NEW ARRIVALS</p>
                <p class="text roboto-regular me-3">SHOP KIDS'</p>
            </div>
        </div>
    </div>
    <div class="px-4">
        <h4 class="text text-center" >#H&MSHUTDOWN GALLERY</h4>
    </div>
    <div class="grid-container-new">
        <div class="item">
            <img src="https://i.postimg.cc/y8FCsrmz/123492051-3369067679855292-4895943197740320033-n.jpg" alt="" class="w-100">
        </div>
        <div class="item">
            <img src="https://i.postimg.cc/y8FCsrmz/123492051-3369067679855292-4895943197740320033-n.jpg" alt="" class="w-100">
        </div>
        <div class="item">
            <img src="https://i.postimg.cc/y8FCsrmz/123492051-3369067679855292-4895943197740320033-n.jpg" alt="" class="w-100">
        </div>
        <div class="item">
            <img src="https://i.postimg.cc/y8FCsrmz/123492051-3369067679855292-4895943197740320033-n.jpg" alt="" class="w-100">
        </div>
        <div class="item">
            <img src="https://i.postimg.cc/y8FCsrmz/123492051-3369067679855292-4895943197740320033-n.jpg" alt="" class="w-100">
        </div>
    </div>
</div>

